.[impl, service]

cltl.backend[impl,host,service]
cltl.asr[whisper,service]
cltl.vad[impl,service]
cltl.object-recognition[impl,service]
cltl.emissor-data[impl,service,client]
cltl.chat-ui[service]
cltl.eliza